/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Sen';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Sen-VariableFont_wght.ttf) format('truetype');
    }
    
    @font-face {
        font-family: 'BebasNeue';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/BebasNeue-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'AlegreyaSansSC';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/AlegreyaSansSC/AlegreyaSansSC-Regular.ttf) format('truetype');
    }

    h1 {
        font-family: BebasNeue;
    }

    h2, h3, h4, h5, h6 {
        font-family: AlegreyaSansSC;
    }
}

