---
import BaseLayout from '@/layout/baseLayout.astro'

const pageTitle: string = 'bienvenue dans l\'univers d\'Eindhill !'
---

<BaseLayout
	pageTitle={pageTitle}
>
	<section class="h-[32rem] flex items-center">
		<div>
			<h1>{ pageTitle }</h1>

			<p class="text-center">
				Eindhill est un univers d'héroïc fantasy où la Lumière et le Chaos
				se livrent une bataille sans fin. Ce monde, façonné par des forces
				divines et anciennes, se situe au cœur de l'Éternité, le tissu même
				du cosmos et de la Création. L'histoire et les légendes de ce monde
				sont tissées de récits de bravoure et de mystères.
			</p>

			<p class="mt-3 text-center">
				Rejoignez notre <a
				class="underline decoration-2"
				href="https://discord.gg/ME3Hbfty"
				target="_blank">Discord</a
				> pour en savoir plus !
			</p>
		</div>
	</section>
</BaseLayout>