---
import '@/styles/globals.css'
import { Navigation } from "../components/ui/navigation"
import { Footer } from '@/components/ui/footer'

const { pageTitle } = Astro.props;

const pages = [
    {
        id: 1,
        title: "accueil",
        href: "/"
    },
    {
        id: 2,
        title: "univers",
        href: "/univers"
    }
]
---

<html class="h-full" lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="/assets/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
        <link href="/assets/fontawesome/css/brands.min.css" rel="stylesheet" />
        <link href="/assets/fontawesome/css/solid.min.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content={Astro.generator} />
        <title>Eindhill - {pageTitle}</title>
    </head>
    <body class="h-full flex flex-col bg-accent">
        <header>
            <Navigation pages={pages} />
        </header>

        <article class="flex-1 text-white">
            <slot />
        </article>

        <footer>
            <Footer />
        </footer>
    </body>
</html>
